/* about.html */
.text-container{
  padding: 2em;
}
.hero-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8em;
  background: url('/static/images/darkblueback.jpg'), var(--accent-bg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
.hero-container::before{
  content: '';
  left:0;
  bottom:0;
  right:0;
  top:0;
  position: absolute;
  background: rgba(0,0,0,0.4);
  z-index: 0;
}
.hero-container .hero-content{
  width:fit-content;
  text-align: center;
  z-index: 1;
}
.hero-container .hero-content h1{
  font-size: 35px;
  font-weight: 500;
  color: var(--real-white);
}
.hero-container .hero-content span {
  font-size: 50px;
  font-weight: 600;
  background-image: -webkit-linear-gradient(196deg, #2db7f2, #1c6dd6,  #61b7e3, #6197eb);
  background-image: linear-gradient(196deg, #2db7f2, #1c6dd6,  #61b7e3, #6197eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%; /* Make the background bigger to allow for the animation */
  -webkit-animation: gradientTextAnim 12s ease infinite;
  animation: gradientTextAnim 12s ease infinite;
  position: relative;
  transition: 0.3s ease-in-out;
}


.hero-container .hero-content a{
  text-decoration: none;
}
.hero-container .hero-content span::before {
  content: ""; /* This pseudo-element will act as the background */
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 152, 219, 0.25); /* Example background color behind the span */
  z-index: 0; /* Places the background behind the span */
}

.hero-container .hero-content span:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(196deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0ff, #4b0082, #8b00ff);
  background-image: linear-gradient(196deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0ff, #4b0982, #8b00ff);
  background-size: 300%; /* Make the background bigger to allow for the animation */
  -webkit-animation: gradientTextAnim 5s ease-in-out infinite;
  animation: gradientTextAnim 5s ease-in-out infinite; }
.hero-container .hero-content span:hover::before {
  visibility: visible;
}


@keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%; /* Start at the beginning of the gradient */
  }
  50% {
    background-position: 100% 50%; /* Move to the end of the gradient */
  }
  100% {
    background-position: 0% 50%; /* Move back to the start */
  }
}

@-webkit-keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.about-us .text-container .title-text{
  background-image: linear-gradient(to left, var(--real-white), var(--accent-bg));
  font-size: 25px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 500;
  
}

.about-us .text-container .para-text{
  color: var(--real-white);
}

.what-we-do .text-container .para-text{
  color: var(--real-white);
  display: flex;
  flex-direction: column;
}

.what-we-do .text-container .title-text h2{
  font-size: 25px;
  background-image: linear-gradient(to right, var(--real-white), var(--accent-bg));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.what-we-do .text-container img{
  min-width: 20%;
  width: 80%;
  align-self: center;
  margin: 1em;
  height: auto;
  border-radius: 5px;
}

.text-container a{
  color: var(--real-white);
  font-weight: 600;
  text-decoration: none;
}

.text-container a{
  background:
    linear-gradient(
      to right,
      var(--accent-bg),
      var(--accent-bg)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.text-container a:hover{
  background-size: 0 3px, 100% 3px;
}

.our-values .text-container {
  overflow: hidden;
}

.our-values .text-container .title-text h3{
  background-image: linear-gradient(to left, var(--real-white), var(--accent-bg));
  font-size: 25px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
}

.our-values .text-container .title-text p{
  color: var(--real-white);
}

.our-values .text-container .list-container{
  color: var(--real-white);
}

.our-values .text-container .list-container ul{
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}
.our-values .text-container .list-container li{
  display: flex;
  flex: 1 1 0px; /* for equal boxes */
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  background-color: var(--dark-accent-bg);
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.11) 1px 1px 1px;
  opacity: 0;
  transition: .3s ease-in-out;
}
.visibleEffect{
  opacity: 1 !important;
}

.our-values .text-container .list-container li h5{
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.our-values .text-container .list-container li ion-icon{
  font-size: 20px;
}

.faq .text-container {
  color: var(--real-white);
}

.faq .text-container .faq-title{
  font-size: 25px;
  background-image: linear-gradient(to right, var(--real-white), var(--accent-bg));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
} 

details summary{
  cursor: pointer;
}
details summary > * { 
  display: inline; /* for no goofy textwrapping */
}

.faq .text-container .questions{
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  gap: 1em;
}

.faq .text-container .questions details {
  padding: 1em;
  background-color: var(--dark-accent-bg);
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.11) 1px 1px 1px;
  transition: .3s ease-in-out;
}

.slide-in{
  transform: translateX(0%) !important;
}
.faq .text-container .questions .faq-dropdown-content {
  margin-top: 1em;
}

.meet-the-team .home-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 3em;
}

.meet-the-team .vert-line{
  border-top: 10px dotted var(--real-white);
  width: 50%;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.meet-the-team .vert-line-div{
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.meet-the-team .team-meet-title{
  font-size: 45px;
  text-align: center;
  padding: 1em;
  font-weight: 600;
  background-image: -webkit-linear-gradient(196deg, #ffffff, #f0f0f0, #e0e0e0, #bcaeae);
  background-image: linear-gradient(196deg, #ffffff, #f0f0f0, #e0e0e0, #bcaeae);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%; /* Make the background bigger to allow for the animation */
  -webkit-animation: gradientTextAnim 12s ease infinite;
  animation: gradientTextAnim 12s ease infinite;
  position: relative;
  transition: 0.3s ease-in-out;
}
.meet-the-team .home-container .profile-card {
  position: relative;
  width: 220px; /* Fixed width for profile cards */
  height: 220px;
  background-color: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
  opacity: 0;
  transition: all .4s;
  margin: 0 20px 50px 0; /* Added margin-bottom to prevent overlap */
}

.meet-the-team .home-container .profile-card:hover {
  border-radius: 10px;
  height: 260px;
}

.meet-the-team .home-container .profile-card .img {
  width: 100%;
  height: auto;
}

.meet-the-team .home-container .profile-card:hover img {
  border-radius: 10px;
  transform: translateY(-90px);
}

.img img {
  object-fit: fill;
  width: 100%;
  border-radius: 50%;
  transition: all .4s;
  z-index: 99;
}

.meet-the-team .home-container .profile-card .caption {
  text-align: center;
  transform: translateY(-90px);
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}

.meet-the-team .home-container .profile-card:hover .caption {
  opacity: 1;
  pointer-events: all;
}

.meet-the-team .home-container .profile-card .caption h3 {
  font-size: 21px;
  color: #0c52a1;
  font-weight: 600;
}

.meet-the-team .home-container .profile-card .caption p {
  font-size: 15px;
  font-weight: 500;
  margin: 2px 0 12px 0;
}

.meet-the-team .home-container .profile-card .caption{ 
  margin-bottom: 1em;
}
.meet-the-team .home-container .profile-card .caption .social-links i {
  font-size: 21px;
  margin: 0 3px;
  cursor: pointer;
  color: #333;
  transition: all .4s;
}

.meet-the-team .home-container .profile-card .caption .social-links i:hover {
  color: #0c52a1;
}

@media screen and (max-width: 600px) {
  .meet-the-team  .home-container .profile-card {
      width: 220px; /* Keep the width fixed */
      margin-right: 0;
      margin-bottom: 50px; /* Added margin-bottom for single file layout */
  }
}

