.hero-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/static/images/applicationBG.jpg'), var(--accent-bg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  max-height: 550px;
  height: 100vh;
}
.hero-container::before{
  content: '';
  left:0;
  bottom:0;
  right:0;
  top:0;
  position: absolute;
  background: rgba(0,0,0,0.5);
  z-index: 0;
}
.hero-container .hero-content{
  width:fit-content;
  text-align: center;
  z-index: 1;
}
.hero-container .hero-content h1{
  font-size: 35px;
  font-weight: 500;
  color: var(--real-white);
}
.hero-container .hero-content span {
  font-size: 50px;
  font-weight: 600;
  background-image: -webkit-linear-gradient(196deg, #2db7f2, #1c6dd6,  #61b7e3, #6197eb);
  background-image: linear-gradient(196deg, #2db7f2, #1c6dd6,  #61b7e3, #6197eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%; /* Make the background bigger to allow for the animation */
  -webkit-animation: gradientTextAnim 12s ease infinite;
  animation: gradientTextAnim 12s ease infinite;
  position: relative;
  transition: 0.3s ease-in-out;
}


.hero-container .hero-content a{
  text-decoration: none;
}
.hero-container .hero-content span::before {
  content: ""; /* This pseudo-element will act as the background */
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 152, 219, 0.25); /* Example background color behind the span */
  z-index: 0; /* Places the background behind the span */
}

.hero-container .hero-content span:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(196deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0ff, #4b0082, #8b00ff);
  background-image: linear-gradient(196deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0ff, #4b0982, #8b00ff);
  background-size: 300%; /* Make the background bigger to allow for the animation */
  -webkit-animation: gradientTextAnim 5s ease-in-out infinite;
  animation: gradientTextAnim 5s ease-in-out infinite; }
.hero-container .hero-content span:hover::before {
  visibility: visible;
}


@keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%; /* Start at the beginning of the gradient */
  }
  50% {
    background-position: 100% 50%; /* Move to the end of the gradient */
  }
  100% {
    background-position: 0% 50%; /* Move back to the start */
  }
}

@-webkit-keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.account-container{
  padding: 3em;
  color: var(--real-white);
}

.account-title{
  font-size: 20px;
  margin-bottom: 1em;
}

.account-title h1{
  display: flex;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
}
.account-username{
  padding: 0.5em;
  background-color: var(--dark-accent-bg);
  border: 1px solid var(--real-white);
  border-radius: 9px;
}

.account-info ul{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  gap: 1em;
}


.account-info ul li{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5em;
  gap: 0.3em;
}
.password-container{
  padding: 1em;
}

.password-container input{
  padding: 12px 16px;
  background-color: var(--real-white);
  border-radius: 9px;
  border: none;
  width: 100%;
  margin-right: 1em;
}
.old-pass{
  background-color: var(--dark-accent-bg);
  padding: 1em;
  border-radius: 9px;
}

.new-pass{
  background-color: var(--dark-accent-bg);
  padding: 1em;
  margin-top: 1em;
  border-radius: 9px;
}
.confirm-new-pass{
  background-color: var(--dark-accent-bg);
  padding: 1em;
  margin-top: 1em;
  border-radius: 9px;
}

.pass-input{
  margin: 1em;
}

.sign-out-btn{
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 1em;
  background-color: var(--dark-accent-bg);
  border-radius: 9px;
  border: 1pt solid rgba(255,255,255,0.3);
  transition: .3s ease-in-out;
}

.delete-account-btn{
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--status-red);
  background-color: var(--dark-accent-bg);
  border-radius: 9px;
  border: 1pt solid rgba(255,255,255,0.3);
  transition: .3s ease-in-out;
}
.sign-out-btn:hover{
  border-color: rgba(255,255,255,1);
  cursor: pointer;
}


.delete-account-btn:hover{
  border-color: rgba(255,255,255,1);
  cursor: pointer;
}

