.hero-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/static/images/blueback.jpg'), var(--accent-bg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  max-height: 550px;
  height: 100vh;
}
.hero-container::before{
  content: '';
  left:0;
  bottom:0;
  right:0;
  top:0;
  position: absolute;
  background: rgba(0,0,0,0.5);
  z-index: 0;
}
.hero-container .hero-content{
  width:fit-content;
  text-align: center;
  z-index: 1;
}
.hero-container .hero-content h1{
  font-size: 35px;
  font-weight: 500;
  color: var(--real-white);
}
.hero-container .hero-content span {
  font-size: 50px;
  font-weight: 600;
  background-image: -webkit-linear-gradient(196deg, #2db7f2, #1c6dd6,  #61b7e3, #6197eb);
  background-image: linear-gradient(196deg, #2db7f2, #1c6dd6,  #61b7e3, #6197eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%; /* Make the background bigger to allow for the animation */
  -webkit-animation: gradientTextAnim 12s ease infinite;
  animation: gradientTextAnim 12s ease infinite;
  position: relative;
  transition: 0.3s ease-in-out;
}


.hero-container .hero-content a{
  text-decoration: none;
}
.hero-container .hero-content span::before {
  content: ""; /* This pseudo-element will act as the background */
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 152, 219, 0.25); /* Example background color behind the span */
  z-index: 0; /* Places the background behind the span */
}

.hero-container .hero-content span:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(196deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0ff, #4b0082, #8b00ff);
  background-image: linear-gradient(196deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0ff, #4b0982, #8b00ff);
  background-size: 300%; /* Make the background bigger to allow for the animation */
  -webkit-animation: gradientTextAnim 5s ease-in-out infinite;
  animation: gradientTextAnim 5s ease-in-out infinite; }
.hero-container .hero-content span:hover::before {
  visibility: visible;
}


@keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%; /* Start at the beginning of the gradient */
  }
  50% {
    background-position: 100% 50%; /* Move to the end of the gradient */
  }
  100% {
    background-position: 0% 50%; /* Move back to the start */
  }
}

@-webkit-keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.current-events-container{
  padding: 2em;
  color: var(--real-white);
}

img{
  max-width: 100%;
  height: auto;
}

.lactive{
  display: block !important;
}
.old-events-container{
  padding: 2em;
  color: var(--real-white);
}
.current-events-title{
  text-align: center;
}
.current-event-desc{
  display: none;
}
.current-events-text ul{
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: var(--dark-p-bg);
  border-radius: 9px;
  list-style: none;
  max-width: 500px;
  transition: .3s ease-in-out;
  transform: scale(1);
}

.current-events-text ul:hover{
  transform: scale(1.03);
  cursor: pointer;
}
.hr-div{
  height: 4px;
  background-color: var(--real-white);
  max-width: 50%;
  border-radius: 5px;
  margin: 0.5em;
}
hr{
  border: 2px solid var(--real-white);
  border-radius: 5px;
  width:100%;
  height: 100%;
}
.current-events-text {
  margin: 2em;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}


.current-events-text p{
  padding: 0.5em;
}
.current-events-text li{
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.current-events-text li ion-icon{
  font-size: 20px;
}
.current-events-text h3{
  font-size: 25px;
}

.old-events-title{
  text-align: center;
}
.old-event-desc{
  display: none;
}
.old-events-text ul{
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: var(--dark-p-bg);
  border-radius: 9px;
  list-style: none;
  max-width: 500px;
  transition: .3s ease-in-out;
}

.old-events-text ul:hover{
  opacity: 1;
  cursor: pointer;
}
.old-events-text {
  margin: 2em;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}


.old-events-text p{
  padding: 0.5em;
}
.old-events-text li{
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.old-events-text li ion-icon{
  font-size: 20px;
}
.old-events-text h3{
  font-size: 25px;
}
