:root {
  --bg-color: #3498db;
  --accent-bg: #87dbfb; 
  --black: #000;
  --real-white: #fff;
}
.header-container{
  position: absolute;
  padding: 35px 0;
  top: 0;
  z-index: 1000;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.logo{
  max-width: 100px;
  height: auto;
  cursor: pointer;
}


.search-icon ion-icon{
  color: var(--real-white);
  transition: 0.2s;
}
.search-icon:hover ion-icon{
  color: var(--real-white);
  transition: 0.2s;
}


.link-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.link-list a{
  color: var(--real-white);
  text-decoration: none;
  transition: 0.3s;
  padding: 0.5rem;
  border-radius: 9px;
}
.link-list a:hover{
  background: var(--accent-bg);
  color: var(--real-white);
  transition: 0.3s;
}

.search-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icon{
  display: none;
}
.event-btn{
  display: none;
}

.account-modal-container{
  background-color: var(--dark-p-bg);
  color: var(--real-white);
  position: fixed;
  width: calc(300px + 9.375rem);
  max-width: 100vw;
  height: 100vh !important;
  top: 0;
  right:0;
  z-index: 2000;
  padding: 2em;
  margin: 0;
  opacity: 0;
  display: none;
}
.account-modal-container a{
  color: var(--accent-bg);
  width: fit-content;
}
.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}
#fullscreen{
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em;
}
#fullscreen:hover{
  text-decoration:none;
}
.modal-title{
  font-size: 25px;
}
.modal-header .close-btn{
  order: 2;
  font-size: 40px;
  color: red;
  background: transparent;
  border: none;
}

.modal-header .close-btn:hover{
  cursor: pointer;
}

.modal-header .close-btn .sr-only{
  display: none;
}
.modal-body .user-actions{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}

.modal-body .user-actions a{
  margin-left: 0.5em;
  display: none;
}
.modal-body .preferences{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}
.modal-body .preferences a{
  margin-left: 0.5em;
  display: none;
}

.modal-body h3{
  display: flex;
  align-items: center;
  gap: 1em;
}
.modal-body h3 ion-icon{
  font-weight: bolder;
  transition: .2s;
}
.modal-body h3:hover{
  cursor: pointer;
}

.overlay-darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity for desired darkness */
  z-index: 1500; /* Ensure it's on top of other elements */
}
.settings-menu{
  padding: 1em;
  margin: 1em;
  color: var(--real-white);
  background-color: var(--accent-bg);
  border-radius: 9px;
}
.fontsize-container{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  padding: 0.5em;
}
.fontfamily-container{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  padding: 0.5em;
}

.textcolor-container{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  padding: 0.5em;
}
select{
  padding: 0.3em;
  background-color: var(--bg-color);
  color: var(--real-white);
  border: 1px solid var(--real-white);
  border-radius: 5px;
}
select:hover{
  cursor: pointer;
}
input:hover{
  cursor: pointer;
}

@media (max-width: 980px) {
  .link-list{
    display: none;
  }
  .menu-icon{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    position: relative;
    padding: 1.3em;
  }
  .home-logo-link{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .event-btn{
    display: inline-block;
    cursor: pointer;
    border: 3px solid var(--accent-bg);
    color: var(--real-white);
    border-radius: 9px;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    background-color: var(--accent-bg);
    transition: 0.3s;
  }
  .event-btn:hover{
    background-color: transparent;
    color: var(--real-white);
    border-color: var(--real-white);
    transform: scale(1.2);
    transform: translateY(5%);
    transition: 0.3s;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .dropdown-menu svg .line{
    stroke: var(--real-white);
  }
  .dropdown{
    display: none;
  }
  .line {
    stroke-width: 6;
    stroke-linecap: round;
    stroke: var(--black);
    transition: all 500ms;
  }

  .top {
    transform-origin: 26px 40px;
  }

  .middle {
    stroke-dasharray: 60 60;
  }

  .bottom {
    transform-origin: 26px 60px;
  }

  .dropdown-menu svg.rotate .line {
    stroke: #ff7c7c;
  }

  .dropdown-menu svg.rotate .top {
    transform: rotate(45deg);
  }

  .dropdown-menu svg.rotate .middle {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
  }

  .dropdown-menu svg.rotate .bottom {
    transform: rotate(-45deg);
  }
  @-webkit-keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  @keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }

  .dropdown-menu.active .dropdown{
    display: flex; 
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgba(135,219,251,0.7);
    backdrop-filter: blur(5px);
    padding: 1rem;
    border-radius: 9px;
    position: absolute;
    overflow: hidden;
    z-index: 1000;
  }
  .dropdown li{
    list-style: none;
  }
  .dropdown a{
    text-decoration: none;
    color: var(--real-white);
    padding: 0.5rem;
    border-radius: 9px;
    transition: 0.3s;
    white-space: nowrap;
  }

  .dropdown a:hover{
    background: var(--real-white);
    color: var(--accent-bg);
    transition: 0.3s;
  }
}

@media (max-width: 450px) {
  .menu-icon{
    padding: unset !important;
  }
  .menu-icon a{
    order: 1;
    position: unset !important;
    transform: none !important;
  }
  .menu-icon .dropdown-menu{
    order: 2;
    margin-right: 1em;
  } 
  .event-btn{
    display: none;
  }
}

