
body{
  background: var(--bg-color); 
}

.form-box{
  max-height: 60%;
  margin: 3em;
  padding: 2em;
  width: 75%;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12em;
  background-color: var(--dark-p-bg);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 40px;
    position: relative;
    color: var(--real-white); 
}
.form-box h1::after{
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: var(--real-white);
  position: absolute;
  top: 1;
  bottom: -5px;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
}

.input-field{
    background: #f2f5ff;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.3s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

form p{
  text-align: center;
  font-size: 15px;
  color: var(--real-white);
  padding: 1em;
}


.regbut{
    padding: 10px 60px;
    flex-basis: 48%;
    background: var(--bg-color);
    color: #fff;
    height: 45px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.5s;
    transition: 0.3s;
    font-size: 15px;
}

.regbut:hover{
    transform: scale(1.2);

}

.btn-field button.disable{
    background: #d3d8e0;
    color: #555;
}
.register-link{
  opacity: 0.8;
  color: var(--accent-bg);
  text-decoration: none;
  transition: .3s ease-in-out;
  position: relative;
}
.register-link:hover{
  opacity: 1;
  cursor: pointer;
}

.register-link::after{
  content: '';
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: var(--accent-bg);
  transition: .3s ease-in-out;
}
@keyframes left-slide{
  0%{
    left: 100%
  }
  100%{
    left: 0;
  }
}

.register-link:hover::after{
  animation: left-slide ease .3s;
  left: 0;
}

.popup{
  display: none;
}
.input-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.back-link{
  opacity: 0.8;
  color: var(--accent-bg);
  text-decoration: none;
  transition: .3s ease-in-out;
  position: relative;
  margin-top: 1em;
}
.back-link:hover{
  opacity: 1;
  cursor: pointer;
}

.back-link::after{
  content: '';
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: var(--accent-bg);
  transition: .3s ease-in-out;
}

.back-link:hover::after{
  animation: left-slide ease .3s;
  left: 0;
}
