body{
  color: var(--real-white);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--black);
  max-height: 100vh;
  height: 100vh;
}

.hero-container::before{
  content: '';
  left:0;
  bottom:0;
  right:0;
  top:0;
  position: absolute;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
}

.hero-video video {
  width: 100%;
  height: 100%;
  filter: blur(3px);
  object-fit: cover; /* Cover the container area */
  transform: translateY(0);
}

.hero-content {
  color: var(--real-white); /* Optional: for better visibility */
  text-align: center;
  z-index: 1; /* Ensure it's above the video */
}

.hero-container .hero-content h1{
  font-weight: 500;
  color: var(--real-white);
}
.hero-container .hero-content span {
  font-size: 80px;
  font-weight: 600;
  background-image: -webkit-linear-gradient(196deg, var(--bg-color), var(--dark-p-bg),var(--alt-accent-bg) , var(--accent-bg, var(--real-white)));
  background-image: linear-gradient(196deg, var(--bg-color), var(--dark-p-bg),var(--alt-accent-bg) , var(--accent-bg, var(--real-white)));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%; /* Make the background bigger to allow for the animation */
  -webkit-animation: gradientTextAnim 12s ease infinite;
  animation: gradientTextAnim 12s ease infinite;
  position: relative;
  transition: 0.3s ease-in-out;
  z-index: 20;
}
.hero-content-text button{
  width: 225px;
  height: 60px;
  padding: 15px 0px;
  text-align: center;
  font-size: 16px;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid var(--boring-blue);
  background: transparent;
  color: var(--real-white);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  transform: scale(1);
}

.hero-content-text button:hover{
  transform: scale(1.2);
  background-color: var(--boring-blue);
}

.hero-container .hero-content a{
  text-decoration: none;
}
.hero-container .hero-content span::before {
  content: ""; /* This pseudo-element will act as the background */
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 152, 219, 0.25); /* Example background color behind the span */
  z-index: 2; /* Places the background behind the span */
}

.hero-container .hero-content span:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(196deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0ff, #4b0082, #8b00ff);
  background-image: linear-gradient(196deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0ff, #4b0982, #8b00ff);
  background-size: 300%; /* Make the background bigger to allow for the animation */
  -webkit-animation: gradientTextAnim 5s ease-in-out infinite;
  animation: gradientTextAnim 5s ease-in-out infinite; }
.hero-container .hero-content span:hover::before {
  visibility: visible;
}


@keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%; /* Start at the beginning of the gradient */
  }
  50% {
    background-position: 100% 50%; /* Move to the end of the gradient */
  }
  100% {
    background-position: 0% 50%; /* Move back to the start */
  }
}

@-webkit-keyframes gradientTextAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h2{
  font-size: 35px;
}
.summary-container{
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 80px;
}
.summary-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 1em;
}

.summary-content a {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--real-white);
  text-decoration: none;
  transition: .3s;
  font-weight: bold;
  opacity: 1;
}

.summary-content a:hover{
  opacity: 0.8;
}

.create-container{
  display: flex;
  max-width: 1120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.create-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:.8em;
  margin: 1em;
  flex: 1;
}
.create-content h3{
  max-width: 400px;
  font-size: 30px;
}

.create-content p{
  max-width: 400px;
}
.create-image-div img{
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 9px;
  filter: hue-rotate(265deg);
}
.create-image-div{
  flex:1;
  display: flex;
  align-items: center;
  margin: 1em;
  width: fit-content;
}
.sponsor-div-title{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.sponsor-div-images{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em;
}
.sponsor-div-images img{
  max-width: 200px;
  opacity: 0.8;
  height: auto;
  transition: .3s;
}

.sponsor-div-images img:hover{
  opacity: 1;
}
.sponsor-div-tcontainer{
  display: none;
}

.sponsor-div-tcontainer > *{
  display: none;
}

.sponsor-learn-more{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.sponsor-learn-more a{
  display: flex;
  align-items: center;
  font-size: 18px;
  display: flex;
  gap: 0.5em;
  color: var(--real-white);
  text-decoration: none;
  transition: .3s;
  font-weight: bold;
  opacity: 1;
}

.sponsor-learn-more a:hover{
  opacity: 0.8;
}

.sponsor-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

