{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ documentTitle }}</title>
        <link href="{% static 'css/about.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </head>
    <body>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        <main class="about-container">
            <section>
                <div class="hero-container">
                    <div class="hero-content">
                        <h1>About <a href="{% url 'Home' %}"><span class="span-title">hAckCI</span></a></h1>
                    </div>
                </div>
            </section>
            <section>
                <article class="about-us">
                    <div class="text-container">
                        <div class="title-text">
                            <h1>About Us</h1>
                        </div>
                        <div class="para-text">
                            <p>hAckCI was founded by a group of high school students attending Agincourt CI. <br> Our mission is to create a community where talented people can connect, share, and develop their creative skills to a new level.
                                You will present your amazing project to the judges where you are able to compete for prizes.
                            Form a team and build a project from start to finish! hAckCI is for everyone, and you do not need to come from a technical background.
                                Join 50+ high school hackers on a journey to make your projects come to life. We will provide you with workshops, ideas and support you on your journey of creativity.
                            </p>
                        </div>
                    </div>
                </article>
            </section>
            <section>
                <article class="what-we-do">
                    <div class="text-container">
                        <div class="title-text">
                            <h2>What does hAckCI do?</h2>
                        </div>
                        <div class="para-text">
                            <p>We create and manage <a href="{% url 'Events' %}">events</a> that highlight creativity and encourage new ideas to come to light in many ways. Our last event was ACI's first ever hackathon, and we plan to have new events in the future.</p>
                            <img src="{% static "images/bluecave.png" %}" alt="events image">
                        </div>
                    </div>
                </article>
            </section>
            <section>
                <article class="our-values">
                    <div class="text-container">
                        <div class="title-text">
                            <h3>Our Values</h3>
                            <p>Here at hAckCI, we take pride in upholding our values, which include:</p>
                        </div>
                        <div class="list-container">
                            <ul>
                                <li>
                                    <h5>Innovation <ion-icon name="bulb-outline"></ion-icon></h5>
                                    <p>We prioritize creativity and encourage out-of-the-box thinking to solve complex problems and create efficient solutions.</p>
                                </li>
                                <li>
                                    <h5>Integrity <ion-icon name="book-outline"></ion-icon></h5>
                                    <p>We operate with honesty and transparency in all our actions.</p>
                                </li>
                                <li>
                                    <h5>Inclusivity <ion-icon name="people-outline"></ion-icon></h5>
                                    <p>We embrace diversity and strive to create a safe and inclusive environment where everyone is valued with equal opportunities to contribute and grow.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
            <section>
                <article class="faq">
                    <div class="text-container">
                        <h1 class="faq-title">Frequently Asked Questions</h1>
                        <div class="questions">
                            <details class="question-1">
                                <summary> How to apply?
                                </summary>
                                <div class="faq-dropdown-content">
                                    Login and create an account! There will be a designated area to signup for the event there.
                                </div>
                            </details>
                            <details class="question-2">
                                <summary> Who can participate?
                                </summary>
                                <div class="faq-dropdown-content">
                                    Agincourt Collegiate students from any grade are allowed to participate in this hackathon. Unfortunately, it is not open to other schools this year. 
                                </div>
                            </details>
                            <details class="question-3">
                                <summary> Do I need to know how to code?
                                </summary>
                                <div class="faq-dropdown-content">
                                    No, anyone from any skill level is welcome to participate. Your project will be judged on creativity, presentation, and technicality combined.
                                </div>
                            </details>
                        </div>
                    </div>
                </article>
            </section>
            <section>
                <article class="meet-the-team">
                    <div class="vert-line-div">
                        <hr class="vert-line">
                    </div>
                    <div class="team-meet-title">
                        Meet the team!
                    </div>
                    <div class="home-container">
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/profile-images/cim.png' %}">
                            </div>
                            <div class="caption">
                                <h3>Cimmaji Manoranjan</h3>
                                <p>President</p>
                                <div class="social-links">

                                    <a href="https://discord.com/users/666017736337653782"><i class="fa-brands fa-discord"></i></a>
                                    <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                    <a href="https://www.instagram.com/cim_galaxy/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/cimmaji-manoranjan-269421304/"><i class="fa-brands fa-linkedin"></i></a>

                                </div>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/profile-images/amy.jpg' %}">
                            </div>
                            <div class="caption">
                                <h3>Amy Zhang</h3>
                                <p>Vice President</p>
                                <div class="social-links">
                                <a href="https://discord.com/users/723658011394048051"><i class="fa-brands fa-discord"></i></a>
                                <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/profile-images/rose.png' %}">
                            </div>
                            <div class="caption">
                                <h3>Rose Zheng</h3>
                                <p>Communications</p>
                                <div class="social-links">
                                    <a href="https://discord.com/users/558051194044678177"><i class="fa-brands fa-discord"></i></a>
                                    <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/placeholder.jpg' %}">
                            </div>
                            <div class="caption">
                                <h3>Eliott Tenn</h3>
                                <p>Communications</p>
                                <div class="social-links">
                                    <!-- modify social links in a editable file -->
                                    <a href="https://discord.com/users/678058588278751252"><i class="fa-brands fa-discord"></i></a>
                                    <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                    <a href="https://www.instagram.com/ohqrizon?igsh=Nzd5NmppbXYzcTU1"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/jackson-cai/"><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/placeholder.jpg' %}">
                            </div>
                            <div class="caption">
                                <h3>Maher Almoussaly</h3>
                                <p>Website Developer</p>
                                <div class="social-links">
                                    <a href="https://discord.com/users/#"><i class="fa-brands fa-discord"></i></a>
                                    <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                    <a href="https://www.instagram.com/#"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/#/"><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/profile-images/james.jpg' %}">
                            </div>
                            <div class="caption">
                                <h3>James Cai</h3>
                                <p>Website Developer</p>
                                <div class="social-links">
                                    <a href="https://discord.com/users/542081852609921034"><i class="fa-brands fa-discord"></i></a>
                                    <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                    <a href="https://www.instagram.com/dr.jams_?igsh=aDJhb25tYXV3ZjNo"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/cai-james/"><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/placeholder.jpg' %}">
                            </div>
                            <div class="caption">
                                <h3>Felicia Tran</h3>
                                <p>Marketing</p>
                                <div class="social-links">
                                    <a href="https://discord.com/users/638151795243352115"><i class="fa-brands fa-discord"></i></a>
                                    <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/profile-images/koby.png' %}">
                            </div>
                            <div class="caption">
                                <h3>Koby Dong</h3>
                                <p>Marketing</p>
                                <div class="social-links">
                                    <a href="https://discord.com/users/506931241459646492"><i class="fa-brands fa-discord"></i></a>
                                    <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                    <a href="https://www.linkedin.com/in/koby-dong-849018296/"><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/placeholder.jpg' %}">
                            </div>
                            <div class="caption">
                                <h3>Anny Li</h3>
                                <p>Outreach</p>
                                <div class="social-links">
                                    <a href="https://discord.com/users/749284750014939156"><i class="fa-brands fa-discord"></i></a>
                                    <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                    <a href="https://www.linkedin.com/in/#/"><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="img">
                                <img src="{% static '/images/placeholder.jpg' %}">
                            </div>
                            <div class="caption">
                                <h3>Amy Shen</h3>
                                <p>Outreach</p>
                                <div class="social-links">
                                    <a href="https://discord.com/users/453306784116113428"><i class="fa-brands fa-discord"></i></a>
                                    <a href="mailto:hackacisite@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
        <script src="{% static '/js/about.js' %}"></script>
    </body>
</html>
