<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <link rel="stylesheet" href="static/applicationStyle.css">
    <link rel="icon" href="static/hacklogo.png" type="png">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="static/hacklogo.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#aboutus">About Us</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/application">Application</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Hello {{ name }}</h1>
            <p>Application starts in April, we hope to see you apply!</p>
        </div>
    </div>

</body>
</html>