{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ documentTitle }}</title>
        <link href="{% static '/css/events.css'%}" rel="stylesheet">
        <link href="{% static '/css/base.css'%}" rel="stylesheet">
    </head>
    <body>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        <main>
            <section>
                <div class="hero-container">
                    <div class="hero-content">
                        <h1><a href="{% url 'Home' %}"><span class="span-title">hAckCI</span></a> Events</h1>
                    </div>
                </div>
            </section>
            <section>
                <article>
                    <div class="current-events-container">
                        <div class="current-events-title">
                            <h2>Current Events</h2>
                        </div>
                        <div class="current-events-text">
                            {% if current_events %}
                                {% for event in current_events %}
                                <ul style="order: {{ event.order }};">
                                        {% if event.image %}
                                            <img src="{{ event.image.url }}" alt="{{ event.title }}">
                                        {% endif %}
                                        <h3>{{ event.title }}</h3>
                                        <li><ion-icon name="alarm-outline"></ion-icon>{{ event.date }}</li>
                                        <li><ion-icon name="location-outline"></ion-icon>{{ event.location }}</li>
                                        {% if event.registration_deadline %}
                                            <li><ion-icon name="timer-outline"></ion-icon>{{ event.registration_deadline }}</li>
                                        {% endif %}
                                        <div class="current-event-desc">
                                            <div class="hr-div">
                                                <hr>
                                            </div>
                                            <p>{{ event.description }}</p>
                                        </div>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <p>No current events available.</p>
                            {% endif %}
                        </div>
                    </div>
                </article>
            </section> 
            <section>
            <section>
                <article>
                    <div class="old-events-container">
                        <div class="old-events-title">
                            <h2>Old Events</h2>
                        </div>
                        <div class="old-events-text">
                            {% if old_events %}
                                {% for event in old_events %}
                                    <ul style="order: {{ event.order }};">
                                        {% if event.image %}
                                            <img src="{{ event.image.url }}" alt="{{ event.title }}">
                                        {% endif %}
                                        <h3>{{ event.title }}</h3>
                                        <li><ion-icon name="alarm-outline"></ion-icon>{{ event.date }}</li>
                                        <li><ion-icon name="location-outline"></ion-icon>{{ event.location }}</li>
                                        {% if event.registration_deadline %}
                                            <li><ion-icon name="timer-outline"></ion-icon>{{ event.registration_deadline }}</li>
                                        {% endif %}
                                        <div class="old-event-desc">
                                            <div class="hr-div">
                                                <hr>
                                            </div>
                                            <p>{{ event.description }}</p>
                                        </div>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <p>No old events available.</p>
                            {% endif %}
                        </div>
                    </div>
                </article>
            </section> 
                <article>
                    <div class="calendar-container">
                    </div>
                </article>
            </section>
        </main>
        <script src="{% static '/js/events.js' %}"></script>
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>
