{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ documentTitle }}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- meta tags -->
        <meta property="og:title" content="{{ documentTitle }}">
        <meta property="og:description" content="Welcome to hAckCI, a platform for hosting and managing hackathons at ACI, connecting innovators, teams, and judges to create impactful projects.">
        <meta property="og:image" content="{% static 'images/hacklogo.png' %}">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:type" content="website">
        <meta name="description" content="hAckCI is a platform for hosting and managing hackathons at ACI, connecting participants, teams, and judges to drive innovation.">
        <meta name="keywords" content="hackathon, ACI, coding competition, innovation, tech event, programming, project showcase">
        <meta name="author" content="The hAckCI Team">
    </head>
    <body>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        <main>
            <section>
                <div class="hero-container">
                    <div class="hero-video">
                        <video autoplay muted loop id="hackVid">
                            <source src="{% static 'images/videos/hAckCiVid.mov' %}" type="video/mp4">
                        </video>
                    </div>
                    <div class="hero-content">
                        <h1><a href="{% url 'Home' %}"><span class="span-title">hAckCI</span></a></h1>
                        <div class="hero-content-text">
                            <p>The home of Agincourt's Hackathons!</p>
                            <a href="/login/">
                                <button class="scroll" type="button">APPLY NOW</button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="summary-container">
                    <div class="summary-content">
                        <h2>An Innovation Platform for Ambitious Minds.</h2>
                        <p>hAckCI is a leading platform fostering creativity, innovation, and technical skills here at ACI.</p>
                        <a href="{% url 'About Us' %}"><ion-icon name="arrow-forward-circle-outline"></ion-icon>About Us</a>
                    </div>
                </div>
            </section>
            <section>
                <div class="create-container">
                    <div class="create-image-div">
                        <img src="{% static '/images/codingSolution.png' %}" alt="Computer Writing Code Gif">
                    </div>
                    <div class="create-content">
                        <h3>Create amazing projects with our guidance and expertise</h3>
                        <p>No prior knowledge needed. We will provide you with the resources and mentoring to create the project of your dreams.</p>
                    </div>
                </div>
            </section>
            <section>
                <div class="sponsor-container">
                    <div class="sponsor-div-title">
                        Our Sponsors
                    </div>
                    <div class="sponsor-div-content">
                        <div class="sponsor-div-images">
                            <a  href="https://www.wolfram.com" target="_blank">
                                <img class="wolfram-link" src="{% static '/images/wolframlogo.png' %}" alt="Wolfram Logo">
                            </a>
                            <a  href="https://schcontario.ca/" target="_blank">
                                <img class="schc-link"src="{% static '/images/schclogo.svg' %}" alt="SCHC logo" width=200>
                            </a>
                            <a  href="https://www.elegoo.com/" target="_blank">
                                <img class="elegoo-link" src="{% static '/images/elgoologo.avif' %}" alt="Elegoo Logo">
                            </a>
                            <a  href="https://www.echo3d.com/" target="_blank">
                                <img class="echo3d-link" src="{% static '/images/echo3dlogo.webp' %}" alt="echo3d logo">
                            </a>
                            <a  href="https://www.interviewcake.com" target="_blank">
                                <img class="interviewcake-link" src="{% static '/images/interviewcake.png' %}" alt="interviewcake Logo" style="filter:brightness(100)">
                            </a>
                            <a  href="https://gen.xyz/" target="_blank">
                                <img class="genxyz-link" src="{% static '/images/xyz-white-logo.svg' %}" alt="xyz logo">
                            </a>
                            <a  href="https://www.torontomu.ca/" target="_blank"> 
                                <img class="torontomu-link" src="{% static '/images/tmu_logo.svg' %}" alt="Toronto Metropolitan University" title="Toronto Metropolitan University" width="200">
                            </a>
                        </div>
                    </div>
                    <div class="sponsor-learn-more">
                        <a href="{% url 'Sponsors' %}"><ion-icon name="arrow-forward-circle-outline"></ion-icon>Learn More</a>
                    </div>
                </div>
            </section>
        </main>
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- static js scripts go here -->
        <script defer src="{% static 'js/home.js' %}"></script>
        <script src="https://unpkg.com/jquery@3.7.1/dist/jquery.js"></script>
    </body>
</html>
