{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ documentTitle }}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'images/hacklogo.png' %}" type="png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <div class="banner">
            <div class="navbar">
                <img src="{% static 'images/hacklogo.png' %}" class="logo">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/application">Application</a></li>
                </ul>
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="dropdown">
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/application">Application</a></li>
                </div>
            </div>

            <div class="content">
                <h1>Hack ACI</h1>
                <p>The first iteration of Agincourt's Hackathon!</p>
                <div>
                    <a href="/register">
                    <button class="scroll" type="button"><span></span>APPLY NOW</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="about" id="aboutus">
            <br><h1 style="font-size:50px">ABOUT US</h1> <br>
            <br><br><br>
            <h1 style="font-size: clamp(20px, 4vw + 0.9rem, 50px); color: white;"><center>FEATURED SPONSORS</center></h1>
            <br>
            <section class="container">
        <div class="slider-wrapper">
            <center><a href="https://www.wolfram.com" target="_blank" rel="noopener noreferrer"><img id="slide-1" 
                                                                                                     src="{% static '/images/wolfram-logo.png' %}" 
                    alt="image1" width="400" height="200"/></a></center>
        
      
        </div>
            </section>
            <div class="message">
                <h1><center>Thank you to sponsors that made this possible :)</center></h1>
                <br><br>
            </div>



        <div class="box">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

            
        
        <div class="timeline">

          <div class="containerS left-containerS">
              <div class="text-box">
                  <h2 > Day one</h2>
                  <small>at school </small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Fusce varius tincidunt auctor. Sed sem mauris, scelerisque sed massa nec, scelerisque eleifend mi. 
                      In molestie, neque ac feugiat rhoncus, massa ante hendrerit ante, nec blandit odio ligula sit amet ligula.</p>
                      <span class="left-containerS-arrow"></span>
              </div>
          </div>

          <div class="containerS right-containerS">
              <div class="text-box">
                  <h2>Day one</h2>
                  <small>at school </small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Fusce varius tincidunt auctor. Sed sem mauris, scelerisque sed massa nec, scelerisque eleifend mi. 
                      In molestie, neque ac feugiat rhoncus, massa ante hendrerit ante, nec blandit odio ligula sit amet ligula.</p>
                      <span class="right-containerS-arrow"></span>

              </div>
          </div>
          <div class="containerS left-containerS">
              <div class="text-box">
                  <h2>Day one</h2>
                  <small>at school </small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Fusce varius tincidunt auctor. Sed sem mauris, scelerisque sed massa nec, scelerisque eleifend mi. 
                      In molestie, neque ac feugiat rhoncus, massa ante hendrerit ante, nec blandit odio ligula sit amet ligula.</p>
                      <span class="left-containerS-arrow"></span>

              </div>
          </div>
          <div class="containerS right-containerS">
              <div class="text-box">
                  <h2>Day one</h2>
                  <small>at school </small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Fusce varius tincidunt auctor. Sed sem mauris, scelerisque sed massa nec, scelerisque eleifend mi. 
                      In molestie, neque ac feugiat rhoncus, massa ante hendrerit ante, nec blandit odio ligula sit amet ligula.</p>
                      <span class="right-containerS-arrow"></span>

              </div>

          </div>
          <div class="containerS left-containerS">
              <div class="text-box">
                  <h2>Day one</h2>
                  <small>at school </small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Fusce varius tincidunt auctor. Sed sem mauris, scelerisque sed massa nec, scelerisque eleifend mi. 
                      In molestie, neque ac feugiat rhoncus, massa ante hendrerit ante, nec blandit odio ligula sit amet ligula.</p>
                      <span class="left-containerS-arrow"></span>

              </div>
          </div>
          <div class="containerS right-containerS">
              <div class="text-box">
                  <h2>Day one</h2>
                  <small>at school </small>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Fusce varius tincidunt auctor. Sed sem mauris, scelerisque sed massa nec, scelerisque eleifend mi. 
                      In molestie, neque ac feugiat rhoncus, massa ante hendrerit ante, nec blandit odio ligula sit amet ligula.</p>
                      <span class="right-containerS-arrow"></span>

              </div>
          </div>

      </div>

     


        <div class="faq ">
            <h1 class="glow">Frequently Asked Questions</h1>
                
            <div class="tab">
                <input type="checkbox" name="acc" id="acc1">
                    <label for="acc1">
                        <h2>01</h2>
                        <h3>How to apply?</h3>
                    </label>
                    <div class="faqcon">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare tincidunt lacus, a tempus nibh elementum et.
                        Proin id ex dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                        Morbi ullamcorper neque a dui tempor convallis. Sed eget maximus magna.</p>
                    </div>
                </div>

                <div class="tab">
                    <input type="checkbox" name="acc" id="acc2">
                    <label for="acc2">
                        <h2>02</h2>
                        <h3>How to apply?</h3>
                    </label>
                    <div class="faqcon">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare tincidunt lacus, a tempus nibh elementum et.
                        Proin id ex dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                        Morbi ullamcorper neque a dui tempor convallis. Sed eget maximus magna.</p>
                    </div>
                </div>
                
                <div class="tab">
                    <input type="checkbox" name="acc" id="acc3">
                    <label for="acc3">
                        <h2>03</h2>
                        <h3>How to apply?</h3>
                    </label>
                    <div class="faqcon">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare tincidunt lacus, a tempus nibh elementum et.
                        Proin id ex dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                        Morbi ullamcorper neque a dui tempor convallis. Sed eget maximus magna.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="home-container">
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/cim.png' %}">
                </div>
                <div class="caption">
                    <h3>Cimmaji Manoranjan</h3>
                    <p>Organizer</p>
                    <div class="social-links">

                        <a href="https://discord.com/users/666017736337653782"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:cimmaji.manoranjan@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/cim_galaxy/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/cimmaji-manoranjan-269421304/"><i class="fa-brands fa-linkedin"></i></a>

                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/amy.jpg' %}">
                </div>
                <div class="caption">
                    <h3>Amy Zhang</h3>
                    <p>Secretary/Outreach</p>
                    <div class="social-links">
                    <a href="https://discord.com/users/558051194044678177"><i class="fa-brands fa-discord"></i></a>
                    <a href="mailto:amy.zhang8@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/rose.png' %}">
                </div>
                <div class="caption">
                    <h3>Rose Zheng</h3>
                    <p>Logistics</p>
                    <div class="social-links">
                        <a href="https://discord.com/users/#"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:rose.zheng@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/jackson.jpg' %}">
                </div>
                <div class="caption">
                    <h3>Jackson Cai</h3>
                    <p>Front/Back End Developer</p>
                    <div class="social-links">
                        <!-- modify social links in a editable file -->
                        <a href="https://discord.com/users/678058588278751252"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:jackson.cai2@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/ohqrizon?igsh=Nzd5NmppbXYzcTU1"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/jackson-cai/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/james.jpg' %}">
                </div>
                <div class="caption">
                    <h3>James Cai</h3>
                    <p>Front End Developer</p>
                    <div class="social-links">
                        <a href="https://discord.com/users/542081852609921034"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:james.cai4@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/dr.jams_?igsh=aDJhb25tYXV3ZjNo"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/cai-james/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/elk.jpg' %}">
                </div>
                <div class="caption">
                    <h3>Elakkiyan Rasakumar</h3>
                    <p>Communications</p>
                    <div class="social-links">
                        <a href="https://discord.com/users/272756741563875329"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:elakkiyan.rasakumar@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/elakkiyan.r?igsh=MWZodmQ5bWJmOWtweQ=="><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/elakkiyan-rasakumar-39181a237/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/koby.png' %}">
                </div>
                <div class="caption">
                    <h3>Koby Dong</h3>
                    <p>Marketing</p>
                    <div class="social-links">
                        <a href="https://discord.com/users/506931241459646492"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:koby.dong@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.linkedin.com/in/koby-dong-849018296/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-container">
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/cim.png' %}">
                </div>
                <div class="caption">
                    <h3>Cimmaji Manoranjan</h3>
                    <p>Organizer</p>
                    <div class="social-links">

                        <a href="https://discord.com/users/666017736337653782"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:cimmaji.manoranjan@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/cim_galaxy/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/cimmaji-manoranjan-269421304/"><i class="fa-brands fa-linkedin"></i></a>

                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/amy.jpg' %}">
                </div>
                <div class="caption">
                    <h3>Amy Zhang</h3>
                    <p>Secretary/Outreach</p>
                    <div class="social-links">
                    <a href="https://discord.com/users/558051194044678177"><i class="fa-brands fa-discord"></i></a>
                    <a href="mailto:amy.zhang8@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/rose.png' %}">
                </div>
                <div class="caption">
                    <h3>Rose Zheng</h3>
                    <p>Logistics</p>
                    <div class="social-links">
                        <a href="https://discord.com/users/#"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:rose.zheng@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/jackson.jpg' %}">
                </div>
                <div class="caption">
                    <h3>Jackson Cai</h3>
                    <p>Front/Back End Developer</p>
                    <div class="social-links">
                        <!-- modify social links in a editable file -->
                        <a href="https://discord.com/users/678058588278751252"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:jackson.cai2@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/ohqrizon?igsh=Nzd5NmppbXYzcTU1"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/jackson-cai/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/james.jpg' %}">
                </div>
                <div class="caption">
                    <h3>James Cai</h3>
                    <p>Front End Developer</p>
                    <div class="social-links">
                        <a href="https://discord.com/users/542081852609921034"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:james.cai4@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/dr.jams_?igsh=aDJhb25tYXV3ZjNo"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/cai-james/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/elk.jpg' %}">
                </div>
                <div class="caption">
                    <h3>Elakkiyan Rasakumar</h3>
                    <p>Communications</p>
                    <div class="social-links">
                        <a href="https://discord.com/users/272756741563875329"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:elakkiyan.rasakumar@student.tdsb.on.ca"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/elakkiyan.r?igsh=MWZodmQ5bWJmOWtweQ=="><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/elakkiyan-rasakumar-39181a237/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="profile-card">
                <div class="img">
                    <img src="{% static '/images/profile-images/koby.png' %}">
                </div>
                <div class="caption">
                    <h3>Koby Dong</h3>
                    <p>Marketing</p>
                    <div class="social-links">
                        <a href="https://discord.com/users/506931241459646492"><i class="fa-brands fa-discord"></i></a>
                        <a href="mailto:koby.dong@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.linkedin.com/in/koby-dong-849018296/"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="waves">
              <div class="wave" id="wave1"></div>
              <div class="wave" id="wave2"></div>
              <div class="wave" id="wave3"></div>
              <div class="wave" id="wave4"></div>
            </div>
            <ul class="social-icon">
              <li class="social-iconitem"><a class="social-iconlink" href="mailto:agincourtcihackathon@gmail.com">
                  <ion-icon name="mail-outline"></ion-icon>
                </a></li>
              <li class="social-iconitem"><a class="social-iconlink" href="https://discord.gg/7kqcbqpQ">
                  <ion-icon name="logo-discord"></ion-icon>
                </a></li>
              <li class="social-iconitem"><a class="social-iconlink" href="https://www.instagram.com/agincourt_hackathon/">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            </ul>
            <ul class="menu">
              <li class="menuitem"><a class="menulink" href="/">Home</a></li>
              <li class="menuitem"><a class="menulink" href="/aboutus">About</a></li>
                <li class="menuitem"><a class="menulink" href="#schedule">Schedule</a></li>
              <li class="menuitem"><a class="menulink" href="/application">Application</a></li>
        
            </ul>
            <p style="font-size: 20px;">Jackson Cai &nbsp &  &nbspJames Cai</p>
            
            <img src="{% static '/images/aci.png' %}" alt="aci" width="200" height="200">
            <h3>Agincourt Collegiate Institute</h3>


          </footer>
          <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
          <!-- static js scripts go here -->
          <script defer src="{% static 'js/home.js' %}"></script>
    </body>
</html>
