<head>
    <title>Register</title>
    <link rel="stylesheet" href="static/regStyle.css">
    <link rel="icon" href="static/hacklogo.png" type="png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="static/hacklogo.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#aboutus">About Us</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/application">Application</a></li>
            </ul>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="dropdown">
                <li><a href="/">Home</a></li>
                <li><a href="#aboutus">About Us</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/application">Application</a></li>
            </div>
            <script>
                const toggleBtn = document.querySelector('.toggle_btn')
                const toggleBtnIcon = document.querySelector('.toggle_btn i')
                const dropDownMenu = document.querySelector('.dropdown')

                toggleBtn.onclick = function () {
                    dropDownMenu.classList.toggle('open')
                    const isOpen = dropDownMenu.classList.contains('open')

                    toggleBtnIcon.classList = isOpen
                        ? 'fa-solid fa-xmark'
                        : 'fa-solid fa-bars'
                }

            </script>
        </div>
        <div class="form-box">
            <h1>Register</h1>
            <form method="post">
                <div class="input-group">
                    <div class="input-field">
                        <input type="text" name="nm" placeholder="Full Name" required maxlength="75">
                    </div>
                    <div class="input-field">
                        <input type="email" name="email" placeholder="Email" required maxlength="75" class="password-input">
                    </div>

                    <div class="input-field">
                        <input id="pass" type="password" name="pass" placeholder="Password" minlength="8" maxlength="75" required>
                    </div>
                <p>Check email after submission</p>
                </div>
                <div class="btn-field">
                    <button class="regbut" type="submit" onclick="openPopup()">Register</button>
                    <div class="popup" id="popup">
                        <img src="static/checkmark.png">
                        <h2>Thank You!</h2>
                        <p>You have successfully registered! Please check your email to verify your account!</p>
                        <a href="/application">
                        <button type="button" onclick="closePopup()">OK, Take me to Login</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('form').submit(function (event) {
            event.preventDefault();

            // Get form data
            var formData = $(this).serialize();

            // Send AJAX request to the server
            $.ajax({
                type: 'POST',
                url: '/register',
                data: formData,
                success: function (response) {
                    if (response.complete) {
                        openPopup();
                    } else {
                        console.error('Registration failed.');
                    }
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
        let popup = document.getElementById("popup");
        function openPopup() {
            popup.classList.add("open-popup");
        }
        function closePopup() {
            popup.classList.remove("open-popup");
        }
    });
</script>
</body>
