<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ documentTitle }}</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <div class="main-content">
                <form class="search-form" action="" role="search" autocomplete="off">
                    <label for="search-input">
                        <ion-icon name="search" style="font-size: 30px;"></ion-icon>
                        <input type="text" id="search-input" name="q" placeholder="search">
                    </label>
                    <button type="submit" aria-label="Submit Search">Submit</button>
                </form>
            </div>
        </main>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>

