{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ documentTitle }}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/sponsors.css' %}" rel="stylesheet">
    </head>
    <body>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        <main>
            <section>
                <div class="hero-container">
                    <div class="hero-content">
                        <h1><a href="{% url 'Home' %}"><span class="span-title">hAckCI</span></a> Events</h1>
                    </div>
                </div>
            </section>
            <div class="sponsor-div-tcontainer">
                <div class="sponsor-div-text" id="wolfram">
                    <h3>Wolfram</h3>
                    <p>Wolfram Alpha is a computer, web and cloud software company. Their goal is to provide the framework to let computation achieve its full potential in the decades to come: to make it possible to compute whatever can be computed, whenever and wherever it is needed, and to make accessible the full frontiers of the computational universe.</p>
                </div>
                <div class="sponsor-div-text" id="schc">
                    <h3>Scarborough Center for Healthy Communities </h3>
                    <p>The mission of Scarborough Center for Healthy Communities is to provide accessible, equitable and transformational health and social service choices for the well-being of the diverse community.</p>
                </div>
                <div class="sponsor-div-text" id="elegoo">
                    <h3>Elegoo</h3>
                    <p>This company sells leading technology for the future innovators. They encourage the use of 3D printers and programming, which is closely linked to our hackathon, a programming and innovative thinking competition. </p>
                </div>
                <div class="sponsor-div-text" id="echo3d">
                    <h3>Echo3D</h3>
                    <p>Echo3D is a software company that aims to help developers and organizations manage and store 3D content securely and be able to share and stream in real-time. This company provides a platform programmers can use to create their projects and work collaboratively more easily. This hackathon puts a large emphasis on working collaboratively, this platform encourages equity and inclusion, allowing more people to easily access projects. </p>
                </div>
                <div class="sponsor-div-text" id="interviewcake">
                    <h3>Interview Cake</h3>
                    <p>Interview Cake is a company that provides courses related to coding that help prepare people for interviews. This would encourage and help students wishing to pursue careers in software and computer science. </p>
                </div>
                <div class="sponsor-div-text" id="genxyz">
                    <h3>Gen.xyz</h3>
                    <p>Gen.xyz is a company that sells .xyz domains, which are unique and eliminate the label/language barrier. They will be able to provide students with a free domain, which can be used to apply their coding skills to create a website. </p>
                </div>
                <div class="sponsor-div-text" id="torontomu">
                    <h3>TMU</h3>
                    <p>Toronto Metropolitan University (TMU), located in Downtown Toronto, is a school that encourages diversity, entrepreneurship and innovation. </p>
                </div>
            </div> 
        </main>
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </body>
</html>
